<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Burgers!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="./assets/js/burger.js"></script>
  {{!-- <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css"> --}}
</head>


<div class="container purple darken-1 center">
  <h2>Burgers that are safe!</h2>
</div>

<div class="container purple darken-1">
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</div>

<div class="container purple darken-1">
  <h2>Burgers that have been devoured!</h2>
</div>

<div class="container purple darken-1">
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</div>

<div class="container purple darken-1">
  <h2>Create a burger</h2>
</div>

<div class="row purple darken-1">
  <center>
    <form class="col m6 create-form">
      <div class="input-field inline">
        <input id="ca" type="text" class="validate">
        <label for="text_inline"><h1>type a Burger Name:></h1></label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
      </div>
      <form action="#">
        <p>
          <label>
            <input name="devoured" value="1" type="radio" checked />
            <span>devoured</span>
          </label>
        </p>
        <p>
          <label>
            <input name="devoured" value="0" type="radio" />
            <span>safe</span>
          </label>
        </p>
        <button class="btn waves-effect waves-light btn-large" type="submit" name="action">
          <i class="material-icons right">Add Burger</i>
        </button>
      </form>
  </center>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{{!-- <form class="create-form">

  <div class="form-group">
    <label for="ca">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> safe
  </div>

  <button type="submit">Add burger</button>
</form> --}}