

  <div class="container">



    <div class="row purple darken-1 center">
      <h2>Create a Burger</h2>
      <p>Choose a name for your burger then select devoured if you would like to eat it immedately or safe if you plan to devour that culinary creation at a later time. Then click the Add Burger button.</p>
    </div>

    <div class="row purple darken-1">

      <form class="row create-form center">
        <div class="row input-field center">
          <input id="ca" type="text" class="validate">
          <label for="input-field">
            <p>Name Your Burger</p>
          </label>
          <span class="helper-text" data-error="wrong" data-success="devoure it later"></span>
        </div>
        <p>
          <label>
            <input name="devoured" value="1" type="radio" checked />
            <span>devoured</span>
          </label>
        </p>
        <p>
          <label>
            <input name="devoured" value="0" type="radio" />
            <span>safe</span>
          </label>
        </p>
        <button class="btn waves-effect waves-light btn-large center" type="submit" name="action">
          <i class="material-icons right">Add Burger</i>
        </button>
      </form>
    </div>

    <div class="row purple darken-1 center">
      <div class="col s6">

        <h2>Burgers that are safe!</h2>

        <div class="row purple darken-1">
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </div>
      </div>
      <div class="col s6">

        <h2>Burgers that have been devoured!</h2>

        <div class="row purple darken-1">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </div>
      </div>


    </div>
  </div>


{{!-- <form class="create-form">

  <div class="form-group">
    <label for="ca">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> safe
  </div>

  <button type="submit">Add burger</button>
</form> --}}