<div>
	{{this.burger_name}}
	{{#unless this.devoured}}{{else}}<button class="change-devour btn-small" data-id="{{this.id}}" data-newdevoured="{{this.devoured}}"><p>Devour Now</p></button>{{/unless}}
</div>
